@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
body {
    font-family: 'Open Sans', sans-serif;
}
h1 {
    font-size: 2.0em;
    color: Navy;
    font-weight: 700;
    margin-top: 1em;
}
h2 {
    font-size: 1.8em;
    color: Navy;
    font-weight: 700;
}
nav ol {
    list-style: none;
    padding-left: 0;
}
nav li {
    display: inline-block;
    background-color: #AAB;
    padding: 5px 1em;
    margin: -5px;
}
nav li a {
    padding: 5px;
    text-decoration: none;
    background-color: #CCD;
}
nav li a:hover {
    background-color: yellow;
}
.clear {
    clear: left;
}
.part1 p {
    background-color: lightyellow;
    padding: 0.5em;
    margin: 0.5em 0.0em;
    border-radius: 1.0em;
}
.part2 p {
    margin-bottom: 0;
}
.part2 ol, .part2 ul{ 
    padding-left: 0.0em;
    list-style-position: inside;
    margin-top: 0;
}
.nesting ol {
    list-style-type: none;
    counter-reset: item;
}
.nesting ol li::before {
    counter-increment: item;
    content: counters(item,".") ". ";
}
dt{
    background-color: navy;
    color: white;
    padding: 10px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    margin-top: 10px;
}
dd{
    margin-left: 0;
    padding: 10px;
    background-color: #CCD;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}